<nav class="navbar sticky-top navbar-expand-lg navbar-light shadow boxed">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="https://res.cloudinary.com/decorelm/image/upload/v1673217139/Dark_Tree_Interior_Design_Studio_wipnyx.png" alt="Decorelm" width="170">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <% if( currentUser ) {%>
                <a class="nav-link" href="/projects">Projects</a>
                <a class="nav-link" href="/projects/new">New Project</a>
                <% } %> 
            </div>
            <div class="navbar-nav ml-auto">
                <% if(currentUser) {%>
                <a class="nav-link" href="/logout">Logout</a>
                <% } %>
            </div>
        </div>
    </div>
</nav>