
*{
    font-family: 'Cormorant Garamond', serif;
    font-size: 17px;
}


.btn{
    text-transform: uppercase;
    font-family: 'Raleway';
    font-size: 12px !important;
}


/*---- MOBILE CSS ------*/

@media screen and (max-width: 481px) {
    .card{
        width: 90%;
    }
    .items-list{
        width: 100%;
        margin-left: -20px !important;
    }
    .tan-btn{
        font-size: 12px;
        padding: 13px 10px !important;
    }
    .dark-btn{
        font-size: 12px;
        padding: 13px 10px !important;
    }
    .projects-list{
        width: 100%;
        list-style: none;
        margin-left: -20px !important;
    }

}



/*---- END OF MOBILE CSS -----*/


/*------ TABLET CSS ---------*/

@media only screen and (min-width: 481px) and (max-width: 1024px){

    .items-list{
        width: 40%;
    }
    .card-room{
        width: 45%;
        display: flex;
        height: 65vh;
    }
}

/*------- END OF TABLET CSS ------*/

button{
    font-family: 'Raleway', serif;
}

.done{
    border: 1px solid green;
}

.items-list{
    width: 20%;
    display: inline-block;
}

/*------ DESKTOP CSS ------*/

@media screen and (min-width: 1101px) {
.projects-list{
    width: 28%;
    display: inline-block;
}
.mobile-menu{
    display: none;
}
.card-room{
    width: 22%;
    display: flex;
    height: 85vh;
}
.card-room-admin{
    height: 90vh;
}
}

/*------ END OF DESKTOP CSS --------*/


/*----- MOBILE AND TABLET ----*/
@media screen and (max-width: 1100px) {
    .items-list{
        width: 27%;
    }
    .tan-btn{
        font-size: 12px;
        padding: 13px 30px;
    }
    .dark-btn{
        font-size: 12px;
        padding: 13px 30px;
    }
    .projects-list{
        list-style: none;
    }
    .navbar-collapse {
        background: #F8F7F3;
        margin: 0px -13px -7px -13px;
        }
        .norm-menu{
            display: none;
        }
        .navbar-toggler{
            display: none;
        }
}


/*----- END OF MOBILE AND TABLET -------*/


/*------ INBETWEEN TABLET AND DESKTOP ------*/
@media only screen and (min-width: 1025px) and (max-width: 1100px){
    .card-room{
        width: 30%;
        display: flex;
        height: 85vh;
    }
}

/*------ END OF INBETWEEN TABLET AND DESKTOP ------*/







.navbar{
    font-family: 'Cormorant Garamond', serif;
    font-size: 17.5px;
    font-weight: 400;
    color: #636363;
    background-color: white;
    letter-spacing: 0.2px;
    display: block;
}

.navbar-nav > li{
    margin-left: 5px;
    margin-right: 5px;
  }  

.navbar-nav .active  {
      border-bottom: 1px solid black;
  }


.navbar-brand{
    margin-left: 2%;
    margin-top: 0.3%;
}

.navbar-brand img {
    max-width: 150px;
}




.nav-img{
    max-width: 200px;
}

.dropdown-item{
    font-size: 14px;
}

.dropdown-item:focus{
    background-color: #3f3f3f;
}




img:hover{
    opacity: 80%;
    transition: ease-in 0.1s;
}


.tag{
    font-size: 8px;
    font-family: 'Raleway'
}

.card-title{
    font-size: 18px
}

.card-text{
    font-size: 16px
}


.tan-btn{
    background-color: #E9E7DC;
    letter-spacing: 1.5px;
    font-size: 14px;
    padding: 17px 40px;
}

.dark-btn{
    background-color: #4B4B4B;
    letter-spacing: 1.5px;
    font-size: 14px;
    padding: 17px 40px;
    color: white;
}

.dark-btn:hover{
    color: grey !important;
}

.btn:hover{
    color: white;
}

.boxed{
    border-top: 1px solid hsla(0,0%,59%,.5);
    border-bottom: 1px solid hsla(0,0%,59%,.5);
}




.add-item{
    background-color: #E9E7DC;
    letter-spacing: 1.5px;
    font-size: 10px;
    padding: 10px 15px;
}

.delete{
    font-size: 10px;
    background-color: rgb(228, 36, 36);
    color: white;
}

.view{
        background-color: #E9E7DC;
        letter-spacing: 1.5px;
        font-size: 13px;
        padding: 10px 40px;
}




.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 120px;
  width: 120px;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
  margin-top: 55%;
  position: absolute;
}

.carousel-control-prev-icon,
.carousel-control-next-icon:hover {
    cursor: pointer;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black !important;
  margin-left: 15%;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black !important;
  margin-right: 15%;
}


.item-img {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
  }

.order {
    position: absolute;
    top: 5%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: white !important;
    font-size: 12px;
    font-family: 'Raleway';
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .recommended{
      font-size: 9px;
      color: white;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      text-align: center;
      font-family: 'Raleway';
  }

  .recommended-container{
      background-color: #5FAD41;
      border-radius: 10px;
      color: white;
      width: 54%;
      padding: 1px 5px;
      position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .new{
    font-size: 9px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    font-family: 'Raleway';
}

.new-container{
    background-color: #ebcb17;
    border-radius: 10px;
    color: white;
    width: 54%;
    padding: 1px 5px;
    position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-title{
    font-size: 25px;
}


.project-des{
    font-family: 'Raleway';
    letter-spacing: 1px;
    font-size: 13px;
}

.list-group-item{
    font-family: 'Raleway';
    font-size: 15px;
}

.rm-b{
    border-bottom: none !important;
}

.render{
    width: 100%;
    height: 80vh;
    margin-bottom: 5%;
}